.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.dropdown{
    padding: 10px;
    box-shadow: 4px -5px 12px 5px #00000026;
    border-radius: 14px;
}

.nav_dropdown{
    box-shadow: 4px -5px 12px 5px #00000026;
}